 body {
 background-image: url("myBackground.jpg");
 height: 100%;
 background-position: center;
 background-size: cover;}
 color: white;

#vanno-table { width: 800px;}

#vanno-td { width: 200px; text-align: center;}

#vannotun { float: top;}

#DSC_1027 { float: right;}

#DSC_0173 { float: bottom;}

#VandaraOneGunGone ( float: right;}
